<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/roles'">All Roles /</div>
    <div class="add-template">Add Role</div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container">
      <div class="mx-5">
        <div class="row">
          <div class="col-md add-role">Add Role</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <div class="form-group role">
              <label for="exampleFormControlInput1">Role *</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Enter role name"
              />
            </div>
          </div>
        </div>
        <div class="row module-title mt-2">
          <div class="col-md-6">Modules</div>
          <div class="col-md-2">Read</div>
          <div class="col-md-2">Write</div>
          <div class="col-md-2">Delete</div>
        </div>
        <div class="status mt-3">
          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Dashboard
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Manage Schools
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Course List
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Manage Plans
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Messages
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Emails
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Postings
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Financial Reports
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 okay m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  User & Roles
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>

          <div class="row module-title mt-2 m-auto py-2">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  for="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Logs
                </label>
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
            <div class="col-md-2 px-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>

  <div class="btn-save-cancel">
    <input
      class="btn-cancel"
      type="button"
      value="Cancel"
      [routerLink]="'/email'"
    />
    <input
      (click)="openSm(content1)"
      class="btn-save"
      type="button"
      value="Save"
    />
  </div>
</div>

<!--add modal -->
<ng-template #content1 let-modal>
  <div class="modal-header modal-header-check">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <img src="assets/Images/cross-icon-black.svg" alt="" />
    </button>
  </div>
  <div class="modal-body modal-body-check">
    <div class="check">
      <img src="../../../../../assets/Images/check.svg" alt="" />
    </div>
    <div class="great-exam">
      <div class="great">Great!</div>
      <div class="exam-s-c">Role Created</div>
    </div>
  </div>
</ng-template>
