<div class="container-fluid page">
    <div class="add-tamplate">
      <div class="rating-review" [routerLink]="'/manageschools'">
        Manage Schools /  
      </div>
      <div class="add-template">Add School</div>
    </div>
    <div class="page__content shadow  position-relative">
        <!-- <app-progress #progress (stateChange)="onStateChange($event)">
          <app-progress-step>
            <div class="container">
              <div class="row"> 
                Business Owner Details
              </div>


              <button mat-raised-button color="primary" (click)="goNext(progress)">
                next
              </button>


            </div>
            
          </app-progress-step>
          <app-progress-step>
            <h1>step 2</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ex exercitationem ut dolores animi fugiat unde doloribus suscipit. Nesciunt repellendus facilis dolore enim dicta, et tenetur. Aspernatur suscipit reprehenderit esse.</p>
        
            <button progressStepPrev mat-raised-button color="accent">prev</button>
            <button progressStepNext mat-raised-button color="primary">next</button>
          </app-progress-step>
          <app-progress-step>
            <h1>step 3</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda sint
              consectetur est quos voluptatem eveniet sed maxime exercitationem officia.
              Ipsa porro inventore earum commodi vero vel deleniti unde ad ipsam?
            </p>
            <button progressStepPrev mat-raised-button color="accent">prev</button>
            <button progressStepNext mat-raised-button color="primary">next</button>
          </app-progress-step>
          <app-progress-step>
            <h1>step 4</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda sint
              consectetur est quos voluptatem eveniet sed maxime exercitationem officia.
            </p>
            <button progressStepPrev mat-raised-button color="accent">prev</button>
            <button progressStepNext mat-raised-button color="primary">next</button>
          </app-progress-step>
        </app-progress> -->
    </div>
  </div>
  