.page {
    padding: 30px;
  
    background: #e5e5e5;
    &__content {
      min-height: calc(100vh - 105px);
      //   margin-top: 2rem;
      background: white;
      color: black;
      font-size: 2rem;
    }
  }

  .heading-all{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;    
  }
  
  .add-program {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 35px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
  }
  .table {
    border: 0.889727px solid #cecccc;
    box-sizing: border-box;
    border-radius: 6px;
  
    thead {
      font-size: 14px;
      background: #efefef;
    }
    tbody {
      font-size: 12px;
    }
  }

  .header-addexam {
    background: #33507c;
    height: 60px;
    border: none;
  
    h4 {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
    }
  }
  
  .modal-body label {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }


  .lablel-add {
    margin-top: 15px;
    color: #2269bc;
    cursor: pointer;
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
  .btn-c-save {
    float: right;
    margin-top: 100px;
  
    input[type="button"] {
      height: 40px;
      width: 126px;
      border-radius: 3px;
    }
  
    .cancel {
      border: 1px solid #878787;
      box-sizing: border-box;
      margin-right: 15px;
      color: #000000;
    }
  
    .save {
      background: #33507c;
      border: none;
      color: #ffffff;
    }
  }
  
  .modal-header-check {
    border: none;
  }
  
  .modal-body.modal-body-check .check {
    display: flex;
    justify-content: center;
  }
  
  .modal-body.modal-body-check {
    padding-bottom: 50px;
  }
  
  .great-exam {
    margin-top: 20px;
    .great {
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      color: #000000;
      display: flex;
    justify-content: center;
    }
  
    .exam-s-c {
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      color: #000000;
      margin-top: 15px;
      display: flex;
    justify-content: center;
    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
    .table-responsive-1 {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  