<!-- <div class="login-div">
  <div class="login-div-left">
    <p class="p1">WELCOME TO</p>
    <p class="p2">ZENIC</p>
    <p class="p3">Login to Access Dashboard</p>
    <br />
    <hr />
  </div>
  <div class="login-div-right">
    <div class="login-card">
      <p class="login">Log In</p>
      <p class="please-your">Please log in to your account</p>
      <form action="">
        <label class="lablel-email" for="">Email</label>
        <input class="input-email" type="text" placeholder="Enter your email" />
        <label class="lablel-email" for="">Password</label>
        <img src="assets/Images/password-show.svg" alt="" />
        <input
          class="input-email"
          type="password"
          placeholder="Enter your password"
        />
        <input class="input-btn-login" type="button" value="Log In" />
      </form>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md login-div-left">
      <p class="p1">WELCOME TO</p>
      <p class="p2">ZENIC</p>
      <p class="p3">Login to Access Dashboard</p>
      <br />
      <hr />
    </div>
    <div class="col-md right-div-login">
      <div class="login-card">
        <p class="login">Log In</p>
        <p class="please-your">Please log in to your account</p>
        <form action="">
          <label class="lablel-email" for="">Email</label>
          <input class="input-email" type="text" placeholder="Enter your email" />
          <label class="lablel-email" for="">Password</label>
          <img src="assets/Images/password-show.svg" alt="" />
          <input
            class="input-email"
            type="password"
            placeholder="Enter your password"
          />
          <input class="input-btn-login" type="button" value="Log In" />
        </form>
      </div>
    </div>
  </div>
</div>
