<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/manageplane'">
      Manage Plans /
    </div>
    <div class="add-template">Plan Details</div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="status mt-3">
      <div class="row m-auto py-3">
        <div class="col-md-2">
          <div class="img-div">
            <img src="assets/Images/calender-icon.svg" alt="" />
            <span class="plan-name mx-3 text-center">Studio</span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row mt-4">
            <h2>School Plan</h2>
          </div>
          <div class="row d-flex">
            <p>Created At : <strong>20-09-2021</strong></p>
            <strong class="ml-1">|</strong>
            <p class="ml-1">Created By : <strong>Admin</strong></p>
          </div>
        </div>
        <div class="col-md-2">
          <p class="plan-status mx-2 mt-3 text-center">Active</p>
        </div>
      </div>
      <div class="row module-title m-auto pt-3">
        <div class="col-md">
          <h2>Plan Details</h2>
        </div>
      </div>

      <div class="row table-titile okay m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Title :</p>
            </div>
            <div class="col-md"><strong>School Plan</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Maintenance Fee :</p>
            </div>
            <div class="col-md"><strong>-</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Monthly Discount :</p>
            </div>
            <div class="col-md"><strong>-</strong></div>
          </div>
        </div>
      </div>
      <div class="row table-titile okay m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Max Student Limit :</p>
            </div>
            <div class="col-md"><strong>500</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Quarterly Payment :</p>
            </div>
            <div class="col-md"><strong>-</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Quarterly Discount :</p>
            </div>
            <div class="col-md"><strong>-</strong></div>
          </div>
        </div>
      </div>
      <div class="row table-titile okay m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Basic Fee :</p>
            </div>
            <div class="col-md"><strong>DLM Creative</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Half Yearly Payment :</p>
            </div>
            <div class="col-md"><strong>24-09-2021</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Half Yearly Discount :</p>
            </div>
            <div class="col-md"><strong>23-10-2022</strong></div>
          </div>
        </div>
      </div>
      <div class="row table-titile m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Set-up Fee :</p>
            </div>
            <div class="col-md"><strong>345678</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Yearly Payment :</p>
            </div>
            <div class="col-md"><strong>24-10-2022</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Yearly Discount :</p>
            </div>
            <div class="col-md"><strong>Cheque</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
