<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/email'">All Emails /</div>
    <div class="add-template">Musical School Registration</div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container">
      <div class="email-view-header mx-md-5 pt-md-5">
        Your Musical Journey Begins HERE !
      </div>
      <div class="mx-md-5 py-md-5 email-view-body px-5">
        <span class="dear-s"> Dear Student, </span>
        <br />
        <br />
        <span class="subject">
          Congratulations on your registration with us at Music School Name!
          Here are the details of your registered course(s):
        </span>
        <br />
        <br />
        <span class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis
          senectus eget sit sed. Augue sed lorem aliquet eget quam. Bibendum
          ornare urna condimentum in facilisi at accumsan augue. Lorem fames sed
          sed in fames. Pulvinar cras volutpat, massa augue. Netus libero ut ac
          nullam enim eget eget. Erat eget nunc mauris amet eget nunc. Eu metus
          in lectus quis pretium. Sed cursus aliquam pretium blandit quis.
          Turpis condimentum ut nunc ipsum quam fermentum. Feugiat scelerisque
          eu amet quisque sed et eu sed. Sed aenean ac mauris vitae dictum in
          donec enim, orci. Arcu magna velit tempor, tristique egestas sapien
          eget. Tristique eleifend arcu quisque eleifend mi aliquam aenean
          aliquet. Vitae scelerisque convallis vitae, egestas. Ut senectus
        </span>
        <br />
        <br />

        <span class="best-wishes">
          Best Wishes
          <br />
          ZenicApp
        </span>
      </div>
    </div>
  </div>
</div>
