<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/settings/termcondition'">All T&C /</div>
    <div class="add-template">View Details</div>
  </div>
  <div class="page__content p-3 shadow position-relative">
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="add-program d-flex">
                <img src="../../../../../../assets/Images/edit.svg">
                <div class="mr-1">Edit</div>
            </div>

        </div>
      <div class="mx-5 mt-2 border">
        <div class="text-center term-condi mt-2">Terms and Conditions</div>
        <div class="py-3 px-5 term-condi-detail">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quam
          voluptate quo! Consequuntur, id? Quas inventore repellat adipisci
          illum nostrum quia quos tempora sunt? Earum non repellat optio hic
          vero possimus consequuntur vel corporis tempore! Aliquam, facere
          recusandae libero, ut doloribus facilis laudantium fugiat voluptatibus
          sed blanditiis illum voluptas tenetur. Cumque omnis nesciunt ea
          facilis fugiat tempore quas architecto nemo quo quae dolore
          necessitatibus, accusamus sunt magnam officiis, dicta perspiciatis ab
          quam exercitationem aliquid mollitia impedit assumenda velit?
          Explicabo sit autem odio dolorum neque quo excepturi numquam tenetur,
          consequatur, doloribus maxime architecto minus odit? Modi nobis, quod
          magnam consequatur accusamus debitis maiores at in necessitatibus
          magni a accusantium fuga eveniet sit perspiciatis quisquam laudantium
          corrupti soluta laborum commodi sapiente voluptas illum! Quidem ad
          nihil inventore quisquam perferendis natus veritatis vel. Soluta,
          voluptatem molestias ipsa nobis consectetur ut quaerat facilis quod
          placeat illum amet nisi ratione id aspernatur laudantium tenetur
          beatae ullam sint mollitia officiis iusto similique necessitatibus
          corporis perferendis. Dolore voluptatem nisi error asperiores est?
          Facere iste adipisci, ipsum voluptates quisquam nihil! Cumque, iste
          esse? A debitis omnis aspernatur blanditiis, unde totam temporibus
          corrupti pariatur rerum tempore, atque voluptatem alias provident
          minus libero reiciendis nesciunt rem deserunt est! Error, quis.
        </div>
      </div>
    </div>
  </div>
</div>
