<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/ratingandreview'">
      Ratings & Reviews /
    </div>
    <div class="add-template">Add Template</div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="feedback-form">
      <div class="feedback-form-div">
        <div class="feedback-form-text">Feedback Form</div>
        <div class="feedbackform-cross" [routerLink]="'/ratingandreview'">
          <img src="assets/Images/cross-fedback-form.svg"/>
        </div>
      </div>
      <div class="feedback-status">
        <div>Poor</div>
        <div>Fair</div>
        <div>Average</div>
        <div>Good</div>
        <div>Excellent</div>
      </div>
      <div>
        <div class="f-forms f-forms-one">
          <label class="form-check-label" for="inlineRadio1"
            >1. The facilities provided by the School conducive for
            learning</label
          >
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-two">
          <label class="form-check-label" for="inlineRadio1"
            >2. The quality of services provided by the staffs
          </label>
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-three">
          <label class="form-check-label" for="inlineRadio1"
            >3. Able to Clarify difficult music concepts with examples</label
          >
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-two">
          <label class="form-check-label" for="inlineRadio1"
            >4. The availability of Info and knowledge you needed
          </label>
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-three">
          <label class="form-check-label" for="inlineRadio1"
            >5. Your Learning experience with our music School</label
          >
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-two">
          <label class="form-check-label" for="inlineRadio1"
            >6. The abilities of the teachers and staffs meet your
            expectation</label
          >
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
        <div class="f-forms f-forms-three">
          <label class="form-check-label" for="inlineRadio1"
            >7. Were you able to acquire the knowledge and skills in <br />
            learning & mastering the instruments</label
          >
          <div class="form-check form-check-inline f-form-input">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio4"
              value="option2"
            />
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
          </div>
        </div>
      </div>

      <div class="feedback-text">
        <div class="few-word">
          <div>In a few words, why did you rate this way ?</div>
        </div>
        <div class="text-area-field">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
