<div class="container-fluid page">
    <div class="add-tamplate">
        Business Details
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container">
            <div class="row row-table row-table-border">
              <div class="row col-md">
                  <div class="col-md table-title" >
                    Business ID :
                  </div>
                  <div class="col-md-8 table-value">
                    4567883
                </div>
              </div>
              <div class="row col-md">
                <div class="col-md table-title">
                    Zenic Edition :
              </div>
              <div class="col-md-8 table-value">
                School
          </div>
              </div>
            </div>

            <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                    Business Email :
                    </div>
                    <div class="col-md-8 table-value">
                        dmlcreative@gmail.com
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    No Of Students :
                </div>
                <div class="col-md-8 table-value">
                    40
            </div>
                </div>
              </div>

              <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                        Address :
                    </div>
                    <div class="col-md-8 table-value">
                    161, Town B
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    No Of Teachers :
                </div>
                <div class="col-md-8 table-value">
                    80
            </div>
                </div>
              </div>

              <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                        City :
                    </div>
                    <div class="col-md-8 table-value">
                        Kedah
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    Joining Date :
                </div>
                <div class="col-md-8 table-value">
                    17-09-2021
            </div>
                </div>
              </div>

              <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                        State :
                    </div>
                    <div class="col-md-8 table-value">
                        Kedah
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    Expiry Date :
                </div>
                <div class="col-md-8 table-value">
                    17-09-2022
            </div>
                </div>
              </div>

              <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                        Post Code :
                    </div>
                    <div class="col-md-8 table-value">
                        34568
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    Website :
                </div>
                <div class="col-md-8 table-value">
                    http://www.dlmcreative.com
            </div>
                </div>
              </div>

              <div class="row row-table  ">
                <div class="row col-md-6">
                    <div class="col-md table-title" >
                        Phone No :
                    </div>
                    <div class="col-md-8 table-value">
                        9876543456
                  </div>
                </div>
              </div>
          </div>
    </div>
  </div>



  <div class="container-fluid page">
    <div class="add-tamplate">
        Owner Details
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container">
            <div class="row row-table row-table-border">
              <div class="row col-md">
                  <div class="col-md table-title" >
                    Full Name :
                  </div>
                  <div class="col-md-8 table-value">
                    Logan
                </div>
              </div>
              <div class="row col-md">
                <div class="col-md table-title">
                    City :
              </div>
              <div class="col-md-8 table-value">
                Kedah
          </div>
              </div>
            </div>

            <div class="row row-table row-table-border">
                <div class="row col-md">
                    <div class="col-md table-title" >
                    Email Id :
                    </div>
                    <div class="col-md-8 table-value">
                        logan@gmail.com
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    State :
                </div>
                <div class="col-md-8 table-value">
                    Kedah
            </div>
                </div>
              </div>

              <div class="row row-table ">
                <div class="row col-md">
                    <div class="col-md table-title" >
                        Address :
                    </div>
                    <div class="col-md-8 table-value">
                    161, Town B
                  </div>
                </div>
                <div class="row col-md">
                  <div class="col-md table-title">
                    Phone No :
                </div>
                <div class="col-md-8 table-value">
                    9876543456
            </div>
                </div>
              </div>
          </div>
    </div>
  </div>



  <div class="container-fluid page page-last">
    <div class="add-tamplate">
        School Operation Hours
    </div>
    <div class="page__content shadow position-relative">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Monday</td>
                    <td>10:15 AM</td>
                    <td>10:45 AM</td>
                    <td><img src="assets/Images/view-icon.svg"></td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td>11:15 AM</td>
                    <td>11:45 AM</td>
                    <td><img src="assets/Images/view-icon.svg"></td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td>12:15 PM</td>
                    <td>12:45 PM</td>
                    <td><img src="assets/Images/view-icon.svg"></td>
                  </tr>
                </tbody>
              </table>
          </div>
  </div>













  <!-- <div class="container-fluid page">
    <div class="add-tamplate">
        Business Details
    </div>
    <div class="page__content shadow p-3 position-relative">
    </div>
  </div> -->