<div class="container-fluid page">
    <div class="page__content shadow p-3 position-relative">
        <div class="container">
            <div class="row justify-content-end" >
                <div class="search mr-2 mt-2">
                    Search By :
                </div>
                <div>
                    <div ngbDropdown class="d-inline-block mr-2">
                      <button class="btn dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>Select Action</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </div>
                  <input id="typeahead-config" type="text" class="form-control mr-2 search-box" placeholder="Enter..."/>
                  <button class="btn search-btn">Search</button>
            </div>
        </div>
            <table class="table table-responsive-1">
                <thead>
                <tr>
                  <!-- <th scope="col">No.</th> -->
                  <th scope="col">Invoice Id</th>
                  <th scope="col">Invoice Raised On</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Paid On</th>
                  <th scope="col">Trans ID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Edition</th>
                  <th scope="col">Payment Method</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries; index as i">
                  <!-- <th scope="row">{{ i + 1 }}</th> -->
                  <td>
                    {{ country.InvoiceId }}
                  </td>
                  <td>
                    {{ country.InvoiceRaisedOn }}
                  </td>
                  <td>
                    {{ country.DueDate }}
                  </td>
                  <td>
                    {{ country.PaidOn }}
                  </td>
                  <td>
                    {{ country.TransID }}
                  </td>
                  <td>
                    {{ country.Amount }}
                  </td>
                  <td>
                    {{ country.Status }}
                  </td>
                  <td>
                    {{ country.Edition }}
                  </td>
                  <td><img src="assets/Images/visa.svg"></td>
                </tr>
                </tbody>
              </table>
    </div>
  </div>
  