<div>
  <div class="content">All Plans</div>
  <div class="form-group row">
    <div [routerLink]="'../subcreateplan'" class="col-xs-2 add-plans" routerLink="/craete-plan">
      + Create Plan
    </div>
    <div class="col-xs-2">
      <img [routerLink]="'./'" src="../../../../../assets/Images/card-view.svg" class="icon" />
      <img [routerLink]="'./subplnviewtable'" src="../.././../../../assets/Images/table-view.svg" class="icon" />
    </div>
  </div>
</div>
<br>

<div>
    <router-outlet></router-outlet>

</div>
