.content {
    float: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .form-group {
    float: right;
    margin-right: 10px;
  }
  .add-plans {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    width: 124px;
    height: 34px;
  }
  .icon {
    width: 37px;
    height: 34px;
    margin-left: 10px;
    cursor: pointer;
  }
  