<div class="container mt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-md-4 col-no-padding">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <h4 class="plan-heading">Studio Plan</h4>
              <p class="plan-title">Student Limit : <strong>50</strong></p>
              <p class="plan-title">
                State : <span class="state-status">Active</span>
              </p>
            </div>
            <div class="col-md-5">
              <div class="img-div">
                <img src="assets/Images/calender-icon.svg" alt="" />
                <span class="plan-name mx-3 text-center">Studio</span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <p class="plan-title">
              Subscription : <strong>Quarterly, Half Yearly, Annual</strong>
            </p>
            <p class="plan-title">Free Trial : <strong>Yes</strong></p>
            <p class="plan-description">Description :</p>
            <p class="plan-title">
              Lorem ipsum dolor sit amet, consecteturtyhasd adipi elit. Eros,
              velit mauris, est, maecenas elementumt por scelerisque ASonsequat
              ipsum pharetra bibendum
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <p class="plan-footer">
              Created on : <strong>21-09-2021, by Admin</strong>
            </p>
            <div class="footer">
              <img [routerLink]="'/subviewdetail'" src="../../../../../../assets/Images/view-icon.svg" />
              <img src="../../../../../../assets/Images/edit-icon.svg" />
              <img src="../../../../../../assets/Images/delet-icon.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-no-padding">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md">
                <h4 class="plan-heading">Studio Plan</h4>
                <p class="plan-title">Student Limit : <strong>50</strong></p>
                <p class="plan-title">
                  State : <span class="state-status">Active</span>
                </p>
              </div>
              <div class="col-md-5">
                <div class="img-div">
                  <img src="assets/Images/calender-icon.svg" alt="" />
                  <span class="plan-name mx-3 text-center">Studio</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <p class="plan-title">
                Subscription : <strong>Quarterly, Half Yearly, Annual</strong>
              </p>
              <p class="plan-title">Free Trial : <strong>Yes</strong></p>
              <p class="plan-description">Description :</p>
              <p class="plan-title">
                Lorem ipsum dolor sit amet, consecteturtyhasd adipi elit. Eros,
                velit mauris, est, maecenas elementumt por scelerisque ASonsequat
                ipsum pharetra bibendum
              </p>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <p class="plan-footer">
                Created on : <strong>21-09-2021, by Admin</strong>
              </p>
              <div class="footer">
                <img [routerLink]="'/subviewdetail'" src="../../../../../../assets/Images/view-icon.svg" />
                <img src="../../../../../../assets/Images/edit-icon.svg" />
                <img src="../../../../../../assets/Images/delet-icon.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-no-padding">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md">
                <h4 class="plan-heading">Academy</h4>
                <p class="plan-title">Student Limit : <strong>50</strong></p>
                <p class="plan-title">
                  State : <span class="state-status">Active</span>
                </p>
              </div>
              <div class="col-md-5">
                <div class="img-div">
                  <img src="assets/Images/calender-icon.svg" alt="" />
                  <span class="plan-name-1 mx-3 text-center">Academy</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <p class="plan-title">
                Subscription : <strong>Quarterly, Half Yearly, Annual</strong>
              </p>
              <p class="plan-title">Free Trial : <strong>Yes</strong></p>
              <p class="plan-description">Description :</p>
              <p class="plan-title">
                Lorem ipsum dolor sit amet, consecteturtyhasd adipi elit. Eros,
                velit mauris, est, maecenas elementumt por scelerisque ASonsequat
                ipsum pharetra bibendum
              </p>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <p class="plan-footer">
                Created on : <strong>21-09-2021, by Admin</strong>
              </p>
              <div class="footer">
                <img [routerLink]="'/subviewdetail'" src="../../../../../../assets/Images/view-icon.svg" />
                <img src="../../../../../../assets/Images/edit-icon.svg" />
                <img src="../../../../../../assets/Images/delet-icon.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
