<div class="container-fluid page">
  <div class="add-tamplate">
    <div class="rating-review" [routerLink]="'/manageplane'">
      Manage Plans /
    </div>
    <div class="rating-review" [routerLink]="'/manageplane/runningplan'">
      Running Plans /
    </div>
    <div class="add-template">DLM Creative</div>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="status mt-3">
      <div class="row module-title okay m-auto pt-3">
        <div class="col-md">
          <h2>School Plan Details</h2>
        </div>
      </div>

      
      <div class="row okay m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>School Name :</p>
            </div>
            <div class="col-md"><strong>DLM Creative</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Start Date :</p>
            </div>
            <div class="col-md"><strong>24-09-2021</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Payment Date :</p>
            </div>
            <div class="col-md"><strong>23-10-2022</strong></div>
          </div>
        </div>
      </div>
      <div class="row okay m-auto pt-3">
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Business Id :</p>
            </div>
            <div class="col-md"><strong>345678</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>End Date :</p>
            </div>
            <div class="col-md"><strong>24-10-2022</strong></div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-md">
              <p>Payment Method :</p>
            </div>
            <div class="col-md"><strong>Cheque</strong></div>
          </div>
        </div>
      </div>
      <div class="row okay m-auto pt-3">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md">
              <p>Plan :</p>
            </div>
            <div class="col-md"><strong>Studio Plan</strong></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md">
              <p>Payment Plan :</p>
            </div>
            <div class="col-md"><strong>Yearly</strong></div>
          </div>
        </div>
      </div>
      <div class="row okay m-auto pt-3">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md">
              <p>State :</p>
            </div>
            <div class="col-md"><strong>Active</strong></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md">
              <p>No of Branches :</p>
            </div>
            <div class="col-md"><strong>NA</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
